<ix-menu-about-item label="Copyright">
	<div class="flex flex-col gap-y-4">
		<div>
			<ix-link-button
				url="https://www.siemens.com/global/en/general/legal.html"
				target="_blank"
				>Corporate Information
			</ix-link-button>
		</div>
		<div>
			<ix-link-button
				url="https://www.siemens.com/global/en/general/privacy-notice.html"
				target="_blank"
				>Privacy Porlicy
			</ix-link-button>
		</div>
		<div>
			<ix-link-button
				url="https://www.siemens.com/global/en/general/cookie-notice.html"
				target="_blank"
				>Cookie Policy
			</ix-link-button>
		</div>
		<div>
			<ix-link-button
				url="https://www.siemens.com/global/en/general/terms-of-use.html"
				target="_blank"
				>Terms of Use
			</ix-link-button>
		</div>
		<div>
			<ix-link-button
				url="https://www.siemens.com/global/en/general/digital-id.html"
				target="_blank"
				>Digital ID
			</ix-link-button>
		</div>
		<div>
			<ix-link-button
				url="https://www.siemens.com/global/en/company/sustainability/compliance/reporting-channels.html"
				target="_blank"
				>Whistleblower reporting
			</ix-link-button>
		</div>
		<div>
			<ix-link-button
				url="https://xcelerator.siemens.com/global/en/general/digital-services-act.html"
				target="_blank"
				>Digital Services Act
			</ix-link-button>
		</div>

		<p class="mt-4">
			MIT License
			<br />
			Copyright (c) 2021 The AMOS Projects
		</p>
	</div>
</ix-menu-about-item>

<ix-menu-about-item label="Siemens Xcelerator">
	<div class="flex flex-col gap-y-4">
		<div>
			<ix-link-button url="https://developer.siemens.com/" target="_blank"
				>Siemens Xcelerator Developer Portal
			</ix-link-button>
		</div>
		<div>
			<ix-link-button url="https://xcelerator.siemens.com/" target="_blank"
				>Siemens Xcelerator Marketplace
			</ix-link-button>
		</div>

		<p class="mt-4">
			MIT License
			<br />
			Copyright (c) 2021 The AMOS Projects
		</p>
	</div>
</ix-menu-about-item>
