<ix-application class="h-screen !z-0">
	<ix-application-header name="Xcelerator Demo App">
		<button class="placeholder-logo" slot="logo" [routerLink]="['/']">
			<img
				src="https://cdn.c2comms.cloud/images/logo-collection/2.1/sie-logo-white-rgb.svg"
				class="h-5"
				alt="Siemens logo"
			/>
		</button>
		<ix-button class="mt-1" variant="secondary" ghost>
			Powered by Siemens Xcelerator
		</ix-button>
		<ix-avatar username="John Doe" extra="Administrator"> </ix-avatar>
	</ix-application-header>

	<ix-breadcrumb visibleItemCount="3" class="ml-8">
		@for (breadcrumb of breadcrumbs(); track breadcrumb.url) {
			<ix-breadcrumb-item
				[routerLink]="[breadcrumb.url]"
				[label]="breadcrumb.label"
			></ix-breadcrumb-item>
		}
	</ix-breadcrumb>

	<ix-content-header
		class="pl-4 pt-4"
		[hasBackButton]="backButtonPresent()"
		[headerTitle]="title()"
		[headerSubtitle]="subtitle()"
		(backButtonClick)="goBack()"
	></ix-content-header>

	<ix-menu>
		<ix-menu-item icon="building1" [routerLink]="['/facilities']">Facilities</ix-menu-item>
		<ix-menu-item icon="tasks-open" [routerLink]="['/cases']">Cases</ix-menu-item>

		<ix-menu-about>
			<app-legal-information></app-legal-information>
		</ix-menu-about>
	</ix-menu>

	<router-outlet></router-outlet>
</ix-application>
